@import './reset.css';

html, body {
    background-color:white;
    color: #0e0b0b;
}

#app {
    /* min-height: 100vh; */
    /* display: flex;
    justify-content: flex-end; */
    /* align-items: center; */
}

.conatiner {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    width: 1300px;
    padding: 20px;
}

.main-conatiner {
    background-color: #e4e4e4;
    margin-left: 200px;
    margin-right: 200px;
}
h2 {
    margin-right: 900px;
}
.sub-container {
    margin-top: 20px;
    padding: 10px;
}
.fields {
    max-width: 600px;
    margin: auto;
}